.corner{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
}

.card-text{
    margin: 0;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}